.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-color: green;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.pass {
	color: green;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-color: green;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.blogStyle = {
    paddingTop: 10px;
    paddingLeft: 2px;
    border: 'solid';
    borderWidth: 1px;
    marginBottom: 5px;
  }

.bg-image {
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Yellow_boxfish_%28Ostracion_cubicus%29_%2846722836601%29.jpg/1280px-Yellow_boxfish_%28Ostracion_cubicus%29_%2846722836601%29.jpg")
    }